# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.2024_STadium_Game_Jam.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea/*
.idea/.idea.2024_STadium_Game_Jam/.idea/vcs.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
